@import '../../pages/mixins.scss';
$bg-color: white;

.pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    margin-bottom: $main-margin-bottom;
}