@import 'mixins.scss';

$nav-bgcolor: #A8B5DD;
$navbar-height: 50px;
$link-bgcolor: green;
$link-bgcolor-hover: orange;


body {
    min-height: 100vh;
    background-image: $main-bg-gradient;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    
    background-color: $nav-bgcolor;

    .nav-bar {
        display: flex;
        max-width: $main-max-width;
        margin: 0 auto;
        height: $navbar-height;

        .logo {
            max-height: calc($navbar-height - 10px);
            margin: 5px 25px 0 0;
        }
    }
    

    .navlink {
        display: inline-flex;
        position: relative;
        text-decoration: none;

        &.selected {
            background-color: $link-bgcolor-hover;
        }

        &:hover {
           
            font-weight: bolder;
        }

        a {
            color: white;
            line-height: 50px;
            font-size: 20px;
            text-transform: uppercase;
            margin: 0 10px 0 10px;
    
            
        }
    }
    
}
