@import '../mixins.scss';

$list-item-bgcolor-hover: rgb(207, 199, 199);
$name-font-size: 16px;
$description-font-size: 14px;
$stripe-bg-color: rgb(231, 229, 229);

.repo-card {
    //display: flex;
    margin: 25px 0 25px 0;
    border-radius: $main-border-radius;
    
    
    overflow: hidden;


    .repo-header {
        padding: 15px 30px 15px 30px;
        border-bottom: 2px solid black;
        display: flex;
        justify-content: flex-start;

        .repo-col {
            font-weight: bolder;
            min-width: 50%;
            margin-right: 10px;
        }

    }
    
    .repo-entry {
        padding: 15px 30px 15px 30px;
        min-height: 2px;
        display: flex;
        align-items: center;
        justify-content: space-start;
        
        
        
        &:hover {
            cursor: pointer;
            box-shadow: inset 0 3px 10px black;
        }

        &:nth-child(even) {
            background-color: $stripe-bg-color;
        }

        
        
        .repo-name {
            min-width: 50%;
            font-size: $name-font-size;
            word-break: break-word;
            margin-right: 10px;
        }
        .repo-description {
            font-style: italic;
            font-size: $description-font-size;
        }
    }
}

@media only screen and (max-height: 768px) {
    .repo-card {
        min-height: 200px;
    }
}