@import '../mixins.scss';

$list-item-bgcolor-hover: rgb(207, 199, 199);
$bg-color: white;
$avatar-size: 150px;
.user-card {
    background-color: $bg-color;
    display: flex;
    //flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px;
    border-radius: $main-border-radius;
    
    .avatar {
        height: $avatar-size;
        max-width: $avatar-size;
        border-radius: $avatar-size;
        margin:10px;
    }

    .info-container {
        display: flex;
        .data-title {
            text-transform: uppercase;
            font-weight: bolder;
            margin-right: 10px;

        }
    }
}

@media (max-width: 760px) {
    .user-card {
        flex-direction: column;
    }
}