@import '../mixins.scss';

$list-item-bgcolor-hover: rgb(207, 199, 199);

.user-card {
    display: flex;
    border: 2px solid black;
    margin-top: 25px;
    border-radius: $main-border-radius;
    
    .image-container {
        flex:1;
        height: 100px;
        max-width: 100px;
        background-size: contain;
        background-repeat: no-repeat;
        margin:10px;
    }

    .info-container {
        flex: 2;
        .data-title {
            font-weight: bolder;
            margin-right: 10px;
        }
    }
}